
.filter-button, .end-button{
    margin-right: 5px;
    margin-bottom: 5px;
}


.end-button-container{
    width: 80vw;
    display: grid;
    place-items: end;
}

.card-content{
    margin: 20px;
}


.table > tbody > tr > td {
    vertical-align: center;
}

.sub-page-container {
    padding-top: 20px;
    margin: 30px;
    width:80vw;
}

.button-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.project-management-card{
    width:80%;
    margin: 20px;
}













