


/* .portal-card:hover{
    background-color:#001f3f;   
    
} */

/* .sub-page-container {
    padding-top: 20px;
    width:80vw;
} */

/* .portal-card-header {
    margin-top: 10px;
    color: white;


} */
/* .portal-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
} */