.background {
  background-color: #1B8697;
  overflow-x:hidden; 
  /* overflow-y:hidden;  */

}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1{
  text-align: center;
}

.main-card{
  margin-top: 25px;
  margin-bottom: 25px;

}

.card-content{
  margin: 20px;

}







