.main-app-background {
  background-color: #1B8697;
  overflow-x:hidden; 
  /* overflow-y:hidden;  */

}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


.main-card{
  margin-top: 25px;
  margin-bottom: 25px;

}

.main-card-header-container{
  display: flex;
  align-items: center; 
}

.main-card-header-item{
  margin: 5px;  
  border-color:white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;
  padding-top:5px;
  
  }



.sub-card{
  /* justify-items: center; */
  display: grid;
  vertical-align: top;
  align-items: center;
  
  margin: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color:#212529!important;
  transition: 0.3s;
}

.sub-card-text{
  margin-top: 20px;
  text-align: center;
}

.portal-icon{
  padding-top: 20px;
}

.portal-card{
  width: 250px;
  height:250px;
}

.project-card{
  width: 200px;
  height:200px;
}



.portal-card:hover {
  background-color:#001f3f!important;   
}

.project-card:hover{
  background-color:#001f3f !important;   
}

.sub-page-container {
  padding-top: 20px;
  width:80vw;
}

.portal-card-header-container{
  display:grid;
  place-content: center;
  text-align: center;

}
.portal-card-header {
  margin-top: 10px;
  color: white;


}
.main-card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 3em; */
}







